
#loginbox {
    width: 250px;
    border: 5px solid black;
    padding: 30px;
    margin: 100px;
    border-radius: 10%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgb(112, 112, 112);
    background-color: white;
}
#loginbox:hover{
    box-shadow: 0 16px 32px 0 rgb(112, 112, 112);
    transition: 0.3s;
}

#nav {
    background-color: black;
}

.naventry{
    color: white;
}

button {
    background-color: black;
    color: white;
    border-radius: 10%;
    cursor: pointer;
}

h2{
    text-align: center;
}

form {
    text-align: center;
}

a{
    text-decoration: none;
    color:  white;
}

a:hover {
    text-decoration: underline;
}
